# dependencies
/node_modules
/.npm-cache
/test-results
/playwright-report

# production
/dist

# misc
.DS_Store
npm-debug.log*
save.json
/saves
.eslintcache

/benchmarks/generated
/*-world.log
/asset-build.log
/asset-preview.log

/debug.log
