.craft {
    margin: 5px;
}
.craft-grid {
    display: grid;
    vertical-align: middle;
    grid-template-columns: auto 2em auto;
}
.input {
    grid-column: 1 / 2;
    background-color: rgba(95, 95, 95, 0.575);
    padding: 5px
}
.output {
    grid-column: 3 / 4;
    background-color: rgba(95, 95, 95, 0.575);
    padding: 5px
}
.separator {
    grid-column: 2 / 3;
    text-align: center;
    align-self: center;
    grid-row: 1/99999999;
}