.item {
    margin: 5px;
}
.item-name {
    padding-right: 5px;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.dark {
  filter: brightness(85%);
}
.darker {
  filter: brightness(20%);
}