.btn-side {
    display: inline-block;
    height: 100%;
    padding: 1px;
    align-self: flex-end;
    width: 2em;
}
.btn-side > i {
    margin: 0;
}
.progress {
    background-color: rgba(0, 0, 1, 0);
    border-radius: 0;
    height: 100%;
    width: 10%;
    padding: 2px;
    flex-grow: 1;
}
.machine {
    height: 2.1em;
    padding: 3px;
    display: flex;
}